{% load staticfiles %}

<html>
    <head>
        <title>Threaded Messages</title>
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css//bootstrap-theme.min.css" %}">
        <link href="{% static "css/app.css" %}" rel="stylesheet" media="screen"/>
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar  navbar-inverse navbar-fixed-top navbar-md" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1"> <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span> <span class="icon-bar"></span>

                    </button> <a class="navbar-brand" href="/message/home">Messages</a>

                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                  <!-- navigation links -->
                    <!-- agent search -->
                    <!-- navigation links -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-bell"> </span>
                            {% if notification_count %}
                                <span class="badge">{{ notification_count }}</span>
                            {% endif %}
                            </a>
                            <ul class="dropdown-menu">
                                {% for notification in notifications %}
                                    <li><a href="{% url 'thread_messages' notification.thread.pk %}">{{ notification.thread.last_message.sender }} sent you {{ notification.message_count }} messages</a></li>
                                    <li class="divider"></li>
                                {% endfor %}
                                {% if not notification_count %}
                                    <li><a>No New Unread Messages</a></li>
                                {% else %}
                                    <li>
                                        <a href="{% url 'all_threads' %}">
                                            <p align="center" style="color: #149bdf;"><strong>view all messages</strong></p>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }} <b class="caret"></b> </a>
                        </li>
                    </ul>
                    <!-- /navigation links -->
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!--/ .nav -->
        {% block content %}
        {% endblock %}
    </body>

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {%  block js %}
    {% endblock %}
</html>