{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% load humanize %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'leftbar.html' with active="inbox" %}
            <div class="col-md-8 pT-50">
            	<section class="panel">
            		<header class="panel-heading gray-bg">
            			<h4> Inbox </h4>
            		</header>
            		<div class="panel-body minimal">
            			<!-- Add pagination here -->
            			<div class="mail-option">
            				<ul class="list-unstyled inbox-pagination ">
            				{% if threads %}
            					<li text-center><span>{{ threads | length }} of {{ threads | length }}</span></li>
            				{% endif %}	
                                
                                <li>
                                    <a class="np-btn" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
                                </li>
                                <li>
                                    <a class="np-btn" href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
                                </li>
            				</ul>
            			</div>
	            		<div class="table-inbox-wrap table-responsive">
	            			<table class="table table-inbox table-hover">
	            				<tbody>
	            					{% for thread in threads %}
	            						{% get_user request.user thread as sender %}
	            						<tr class="{% get_class request.user thread %}">
	            							<td> 
	            								<img class="contacts-list-img" src="{{ sender.profile.get_avatar_url }}"  alt="..."> 
	            							</td>
	            							<td> 
	            								<a href="{% url 'messages:thread_messages' thread.pk %}">{{ sender.profile.get_name|title }}</a>
	            							</td>
	            							<td>
	            								<a href="{% url 'messages:thread_messages' thread.pk %}">{{ thread.last_message.body|truncatewords:"10" }}</a>
	            							</td>
	            							<td class="text-right">
	            								<span class="badge ">{% get_message_count user thread %}</span>
	            								<span> {{ thread.updated|naturaltime }} </span>	
	            							</td>
	            						</tr>
	            					{% endfor %}
	            				</tbody>
	            			</table>
	            		</div>
            		</div>
	            	
            	</section>
            	{% comment %}  
                {% for thread in threads %}
                    {% get_user request.user thread as sender %}
                    <div class="media media-border thread {% get_class user thread %}" data-url="{% url 'messages:thread_messages' thread.pk %}">
                      <a class="pull-left" href="{% url 'messages:thread_messages' thread.pk %}">
                        <img class="media-object" src="{{ sender.profile.get_avatar_url }}"  alt="...">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">
                            <a href="{% url 'messages:thread_messages' thread.pk %}">
                                {{ sender.profile.get_name|title }}
                            </a>
                            <a class="pull-right">
                                <span class="badge badge-info">
                                    {% get_message_count user thread %} new messages
                                </span>
                            </a>
                        </h4>
                        {{ thread.last_message.body }}
                      </div>
                    </div>
                {% endfor %}
                {% endcomment %}
                {% if not threads %}
                    <div class="alert alert-info">
                        <p align="center">You have not initiated any conversations yet !!
                        <br>Click <a href="{% url 'messages:new_message' %}"><strong>here</strong></a> to initiate one </p>
                    </div>
                {% endif %}

            </div>

        </div>
    </div>

{% endblock %}
{% block extra_script %}
    <script>
        $(document).ready(function(){
            $('.thread').click(function(){
                var redirectUrl = $(this).data('url');
                window.location = redirectUrl;
            });
        });
    </script>
{% endblock %}