
<ul class="list-group">
{% for feature in features %}

	<li class="feature-item list-group-item">
		<p class="feature-name">{{ feature.name }}</p>
		<div class="progress fix">
			<div class="progress-bar progress-bar-{{ feature.color }}" style="width: {{ feature.status }}%;">
				<span class="sr-only">{{ feature.status }}% complete</span>				
			</div>
			<p class="fix-bar"><strong>{{ feature.status }}% complete</strong></p>
		</div>		
	</li>
{% endfor %}
</ul>
<div class="btn btn-lg btn-primary" type="button" onClick="document.location.href = ('{{ contact_url }}');">Suggest a feature</div>							
							
