{% extends "base.html" %}

{% block body %}
<div class="pad"></div>
<div class="_layout mdl-grid mdl-color-text--grey-700">
	<div class="pB16 centered mdl-cell mdl-cell--6-col ">
		<div class="head__banner">
			<div class="pL-8">
				<a href="/"><img alt="" src="{{ STATIC_URL }}images/LOGO_V5.svg" style="width: 240px;height:240px"></a>
			</div>
			<div class="logo site-name">
		    	<a class="fS40" href="/">pirate learner</a>
	    	</div>
		</div>				
	</div>
	<div class="pB16 centered mdl-cell mdl-cell--6-col">
		<div class="">			
			<div class="banner">
			{% block main %}{% endblock %}		
			</div>
			<footer class="mdl-mini-footer">
				<div class="mdl-mini-footer__left-section">
					<ul class="mdl-mini-footer__link-list">
				    	<li><a href="{% url "about" %}">About</a></li>
				    	<li><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_GB">Privacy & Terms</a></li>
				    	<li><a href="{% url "faq" %}">FAQ</a></li>
				    </ul>
				</div>				
			</footer>
		</div>		
	</div>
</div>
{% comment %}
<div class="section section--support">
  <div class="main-aux">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col help-item">
        <h3> Questons?</h3>
        <p>Check out the <a href="{% url "about" %}">About Us</a></p>
      </div>
      <div class="mdl-cell mdl-cell--6-col help-item">
        <h3>Intereseted?</h3>
        <p>Reach out to us at <a href="{% url "contact" %}">Contact</a></p>
      </div>
    </div>
  </div>
</div>{% endcomment %}
{% endblock %}
