
{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}
<div class="row main-content-wrapper">  	
   	<div class="content-area clearfix">
			{% if socialaccount.providers  %}
		<section>
		    <h2 class="heading">{% trans "Log In" %}</h2>
			
			{% include "socialaccount/snippets/provider_list.html" with process="login" redirect_field_value=redirect_field_value%}
			
			{% include "socialaccount/snippets/login_extra.html" %}
		</section>			
			{% endif %}
		</div>
  </div>
{% endblock %}
