{% load tz %}

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Title</th>
      <th class="mdl-data-table__cell--non-numeric">Section</th>
      <th >Date</th>
    </tr>
  </thead>
  <tbody>
  {% for el in published %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><a href="{{ el.get_absolute_url }}"> {{ el.get_title }} </a></td>
      <td> {{ el.get_parent.get_menu_title }} </td>
      <td title="{{ el.publication_start }}"> <time>{{ el.publication_start }}</time> </td>
    </tr>
   {% endfor %}
  </tbody>
</table>

{% comment %}  
<div class="panel panel-default">
	<div class="panel-heading panel-success">Published Articles</div>
	{% if not published|length > 0 %}
		<h3> <span class="glyphicon glyphicon-info"></span> No Article Published yet!!!</h3>
		{% if not request.user.is_staff %}
			<div class="alert alert-warning alert-dismissible" role="alert">
			It seems you are not our staff yet. Want to contribute? <a href="en/contact-us/?contact_type=Join"> Contact US </a>
			</div>
		{% endif %}
	{% else %}
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>
						Title
					</td>
					<td>
						Section
					</td>
					<td>
						Date
					</td>
				</tr>
			</thead>
			<tbody>
			{% for el in published %}
				<tr>
					<td> <a href="{{ el.get_absolute_url }}"> {{ el.get_title }} </a> </td>
					<td> {{ el.get_parent.get_menu_title }} </td>
					
					<td title="{{ el.publication_start }}">
						{{ el.publication_start }}							
		 		    </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
	
</div>

{% endcomment %}