{% if attribute_name %}

{{ attribute }}

{% else %}

	{% for field in attribute_list %}		

		{% if field.name == "title" %}
		<div class="page-header heading">
       		<span id="trigger-overlay" type="button" class="icon overlay-open pl-expand"></span>
				<h1> 	{{ field.value }} </h1>       	
       	</div>			
		{% else %}
		<div class="paper paper-raise" id="commentable-container" >
			{% autoescape off %}
				{{ field.value }}
			{% endautoescape %}
		</div>		
		{% endif %}
	{% endfor %}

{% endif %}