{% if attribute_name %}

{{ attribute }}

{% else %}
		<h1 class="article-title"> 	{{ title }} </h1>
		<span class="article-author"> by Admin </span>       	
		<div class="article-actions">
       		<span id="trigger-overlay" type="button" class="icon overlay-open pl-expand"></span>
       	</div>			

	{% for field in attribute_list %}		

		<div class="article-body" id="commentable-container" >
			{% autoescape off %}
				{{ field.value }}
			{% endautoescape %}
		</div>
		
	{% endfor %}

{% endif %}