{% load tz %}
<div class="panel panel-default">
	<div class="panel-heading panel-warning">Pending for Review</div>
	{% if not review|length > 0 %}
		<div class="alert alert-success" role="alert">
			Nothing to review!!!
		</div>
	{% else %}
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<td>
							Title
						</td>
						<td>
							Section
						</td>
						<td>
							Last Updated
						</td>
					</tr>
				</thead>
				<tbody>
				{% for el in review %}
					<tr>
						<td> <a href="{{ el.get_absolute_url }}"> {{ el.get_title }} </a> </td>
						<td> {{ el.get_parent.get_menu_title }} </td>
						{% comment %} TODO define a function for last modified date {% endcomment %}
						<td title="{{ el.last_modified }}">
							{{ el.get_modified_time }}							
			 		    </td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% if review|length > 10 %}
			<div class="alert alert-warning" role="alert">
				It seems you are falling behind. hurry up!!!
			</div>
		{% endif %}
	{% endif %}
</div>