/* Order of writing CSS here */
/* Relation with parent */
/* Own properties */
/* Relation with children */

/* Style for surrounding container */
.container {
	position: relative; /* Must stack w.r.t. siblings, but children must use new coordinate system*/
	display: block; /* Display entire thing as block. */
	width: 100%;
	max-width: 960px;
	overflow: hidden;
	padding-top: 10px; /* Absolute positioning of elements may clip here otherwise.*/
	padding-bottom: 10px;
}
/* Introduce a margin of 5px on the first child(any) of the container element. Others already sum up to 5+5 */
.container *:first-child{
	margin-left: 10px;
}

/* Styles for tile */
.tile-big, .tile-clickable, .tile-no-click {
	position: relative; /* Will stack along other siblings in the DOM in its parent */
	float: left; /* All such elements will float to the left so that they may stack side by side */
	
	padding: 10px 5px 5px 5px;
	border: solid black 1px;
	max-width: 305px; /* For now, in a 3 column layout on 960px screen (305px+2px+10px)*3 + 5px */
	background: skyblue; /* Testing */

	
	margin-left:5px;
	margin-right: 5px;
	margin-top:5px;
	margin-bottom:5px;
}

/* Now for each tile separately */

.tile-big .tile-date {
	/*Put some beautification like rounded corners */
	padding: 0px;
	border: solid black 1px;
	display: block;
	background: lightgrey;
}

.tile-date .date, .tile-author .author, .tile-category .category {
	margin: 0 auto; /* Center the element w.r.t. parent */
	width:100%;
	padding: 0 1px 0 2px;
	border: none;
}

.top-right {
	position: absolute; /* w.r.t its parent, but will not lead to reflow if parents's siblings are close by. */
	top: -10px;
	right: 0;
}

.bottom-left{
	position: absolute; /* w.r.t its parent, but will not lead to reflow if parents's siblings are close by. */
	bottom: -10px;
	left: 0;
}

.bottom-right{
	position: absolute; /* w.r.t its parent, but will not lead to reflow if parents's siblings are close by. */
	bottom: -10px;
	right: 0;
}

h3.tile-title {
	/*Parent relationship */
	margin-top: 2px;
	margin-bottom: 1px;
	padding: 0;
	
	/* Own style */
	font-family: georgia, monotype-corsiva, sans-serif, times;
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
	font-variant: small-caps;
}

.tile-big .tile-image-container {
	position: relative;
	height: 220px;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	display:block;
}

.tile-big .tile-image-container>*{
	margin: auto ;
	padding: 0;
	border: none;
}

.tile-big .tile-image {
	margin: 0px auto 0px; /* Center the image w.r.t. container */
	
	max-height: 220px; /* Just a capricious value for now */
	max-width: 300px;
	size: auto; /* Based on max-height, image should automatically adjust */
	padding-top: 1px;
	padding-bottom: 2px;
	overflow: hidden; /* In case overflow occurs, hide it. */
}

.tile-big .tile-summary {
	display: block;
	font-family: monotype-corsiva, sans-serif, times;
	font-size: 0.9em;
}

.tile-big .tile-author {
	/*Put some beautification like rounded corners */
	padding: 0px;
	border: solid black 1px;
	display: block;
	background: lightgrey;
}

.tile-big .tile-category {
	/*Put some beautification like rounded corners */
	padding: 0px;
	border: solid black 1px;
	display: block;
	background: lightgrey;
}