{% extends "bookmarks/base.html" %}
{% load static %}

{% block bookmark_content %}

<div class="mB-120 ">
      <div class="section section--hero">
        <div class="section__block fixed-width">
          <div class="section--hero__text">
            <h2 class="hero__title">Bookmarks.</h2>
            <p class="hero__subtitle">
              List of URL's specifically collected for you!!!.
            </p>
          </div>
        </div>
      </div>
      <div class="section fixed-width mdl-grid">
		{% if bookmarks %} {% comment %} Display the list {% endcomment %}      
		    {% include "common/pagination.html" with nodes=bookmarks %}
		            
		    {% for item in bookmarks %}
		    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                <div class="content-wrapper">
                    <a class="card" href="{{item.get_absolute_url}}">
                        <div class="mdl-card author-card--sm bS-1 wFull">
                            <div class="pA16 column center">
	                            {% with img_url=item.get_image_url %}
	                            {% if img_url %}
	                                <div class="avatar md border" style="background: url('{{ img_url }}') center / cover;">
	                                </div>
	                            {% else %}
	                            <div class="avatar md border">
	                                <svg height="90" width="90" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
	                                    <path d="M24 8c-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 8s8-3.59 8-8c0-4.42-3.58-8-8-8zm0 20c-5.33 0-16 2.67-16 8v4h32v-4c0-5.33-10.67-8-16-8z"/><path d="M0 0h48v48h-48z" fill="none"/>
	                                </svg>
	                            </div>
	                            {% endif %}
	                            {% endwith %}
                                <div class="title-text text-center">
                                    {{ item.title }}
                                </div>
				                <div class="extras">
				                {% for tag in item.get_tags %}
				                    <span class="text">#{{ tag.name }}</span>
				                {% endfor %}
				                </div>
                            </div>
                        </div>
                    </a>
                </div>
		    </div>
		    {% endfor%}
		    {% include "common/pagination.html" with nodes=bookmarks %}
		{% else %}  {% comment %} Display the notification {% endcomment %}
    		<div class="mdl-cell mdl-cell--12-col">
		        <div class="p-card">
		            <div class="search-stats">        
		                Sorry, no results for
		            </div>
		            <div class="search-title">
		                <h3>{{result_title}}</h3>
		            </div>
		            <div class="search-stats oops-message">
		            </div>
		        </div>
		    </div>
		{% endif %}
      </div>
      
</div>

{% endblock %}	