{% extends "bookmarks/base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block bookmark_content %}

{% load url from future %}
{% load thumbnail %}

	<div id="grid" class="row grid">
		<!-- Stacked Featured posts for this section -->
		{% for node in bookmarks %}
		<div class="col-xs-6 col-sm-4 col-md-4" data-groups='["bookmarks"]'>
			<div class="media feature content-block-bookmark paper">
				<div class="unit-tile-image">
					<a  class="" href="{{node.get_absolute_url}}" rel="nofollow">
						<img src="{{ node.get_image_url }}" alt="Knowledge transfer"/>
					</a>
				</div>
        		<div class="unit-tile-title">
					<a class="title" href="{{node.get_absolute_url}}" rel="nofollow">
					 	{{ node.title }}
					</a>
				</div>
				<div class="unit-tile-blurb-box">
					<div class="unit-tile-blurb-text">{{ node.get_description }}</div>
				</div>
            	<div class="unit-tile-tags">
					{% for tag in node.get_tags %}
					 	<a href="{{ tag.url }}"> {{ tag.name }}</a> &nbsp;
						{% endfor %}
				</div>
				
				<div class="unit-tile-stats"></div>
				<div class="unit-tile-call">
					<a href="{{node.get_absolute_url}}"><span>Read summary</span></a>
					<a href="{{node.get_external_url}}" rel="nofollow"><span>Go to website</span></a>
				</div>
            </div>	                
        </div>
        {% endfor %}
        <!-- sizer -->
  		<div class="col-xs-6 col-sm-4 col-md-4 shuffle_sizer"></div>  					
	</div>
	<script src="{{ STATIC_URL }}js/debounce.js"></script>
    <script src="{{ STATIC_URL }}js/shuffle/jquery.shuffle.js"></script>
<script type="text/javascript" src="/static/static/js/bookmark_shuffle.js"> </script>
{% endblock %}	