
{% extends "bookmarks/base.html" %}



{% load staticfiles%}

{% block bookmark_content %}

<div class="mB-120">
      <div class="section section--hero">
        <div class="section__block fixed-width">
          <div class="section--hero__text">
            <h2 class="hero__title">Bookmarks.</h2>
            <p class="hero__subtitle">
              View your bookmarks privacy and scope here.
            </p>
          </div>
        </div>
      </div>
	
	<!-- show tabs -->
	<div class="pB8">
		<div class="_layout">
			<div class="md-tabs">
				<div class="md-tabs__tab-bar">
					<div class="md-tabs__tab is-static">
						<span class="tab-label">Bookmarks</span>
					</div>			
				{% for tab in query_tabs %}
					<a href="{{ tab.url }}" class="md-tabs__tab {{ tab.css }}" title="{{ tab.help_text }}">
						<span class="tab-label bL">{{ tab.name }}</span>
					</a>
				{% endfor %}
				</div>
			</div>				
		</div>	
	</div>
	
	<section id="id-section-main" class="pA8">
		<div class="dashboard__post mdl-grid">
			<div class="mdl-card mdl-cell mdl-cell--12-col">							
			{% if bookmarks %} {% comment %} Display the list {% endcomment %}
					{% comment %} Pagination {% endcomment %}				
				<div class="mdl-card__supporting-text stats-text">		            
					<span>{{ bookmarks.paginator.count }} results for </span>
					<strong>{{result_title}}</strong>
				</div>
				{% if bookmarks.paginator.num_pages > 1 %}
					<div class="mdl-card__supporting-text pTB0 mdl-color-text--grey-600">		            
						{% include "common/pagination.html" with nodes=bookmarks getvars=getvars only %}
					</div>
				{% endif %}
				
				{% comment %}  
				{% if request.user.is_staff %}
				<div class="mdl-card wFull mH-auto mT-16">
					<div id="id-div-action" class="mdl-card__supporting-text">
						<form id="id-action" class="a-mdl-form">
							<div class="row aI-c fW-w jC-fs">
								<div class="mW-512 mR-16">							
									{% include "crawlers/creator-select2.html" %}							
								</div>
								<div class="tAr mT--16">
									<div class="mdl-button mdl-button--colored" 
										data-url="{% url 'blogging:manage_articles' %}" id="id-add-article-btn">
										Submit
									</div> 
								</div>
							</div>
						</form>					
					</div>
				</div>			
				{% endif %}
				 {% endcomment %}
					{% comment %} Add to repository panel
					<div id="id-div-status" class="div-status row hidden">
						<div>
							<i id="id-status-icon" class="material-icons icon" role="presentation"></i>
						</div>
						<div id="id-status-text" class="">
							Status
						</div>
					</div>					
					<div id="id-div-loading" class="hidden">
						<div id="p2" class="wFull mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>									
					</div>
					<div class="tAr">
						<button id="id-add-btn" class="mdl-button mdl-button--colored hidden">
					    	Add to repository
						</button>					
					</div>
					<div class="mdl-card__menu">					
						<button id="id-cancel-btn" class="mdl-button mdl-button--icon">
				          <!--<i class="material-icons">close</i>-->
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24" width="22" height="22" style="fill: #616161;">
							    <path d="M 5.625 4.21875 L 4.21875 5.625 L 10.59375 12 L 4.21875 18.375 L 5.625 19.78125 L 12 13.40625 L 18.375 19.78125 L 19.78125 18.375 L 13.40625 12 L 19.78125 5.625 L 18.375 4.21875 L 12 10.59375 L 5.625 4.21875 z"/>
							</svg>				          
						</button>
					</div>					
				</div>
				{% endcomment %}
				
				{% comment %} Article list table {% endcomment %}
				<div class="table--large mdl-color-text--grey-800 mB-16">
					<table class="mdl-data-table mdl-js-data-table {% if request.user.is_staff %}mdl-data-table--selectable{% endif %}  wSn">
						<thead>
							<tr>
						    	<th>#</th>
						    	<th class="non-numeric">Title</th>
						    	<th class="non-numeric">Added By</th>
						    	<th class="non-numeric">Privacy</th>
						    	<th class="non-numeric">Promoted</th>
						    </tr>
						</thead>						
						<tbody id="id-tbody">
							{% for bookmark in bookmarks %}
							<tr data-id={{ bookmark.id }}>
								<td>{{ forloop.counter }}</td>
								<td class="non-numeric fS16">
									<a href="{{ bookmark.get_absolute_url }}" title="View bookmark">{{ bookmark.get_title }}</a>
								</td>
								<td class="non-numeric fS16">
									<a href="{% url "dashboard:dashboard-profile" bookmark.user.id %}" title="See user profile">
									{{ bookmark.user.profile.get_profile_name }}</a>
								</td>
								<td class="non-numeric">
								{% if bookmark.privacy_level == "pub" %}
									<i class="material-icons mdl-color-text--blue-600" title="public">people</i>
								{% else %}
									<i class="material-icons" title="private">person</i>
								{% endif %}
								
								</td>
								<td class="non-numeric">
									{% if bookmark.is_promoted %}
	      					      	<i class="material-icons mdl-color-text--green-600" title="promoted">check</i>
	      					      	{% else %}
	      					      	<i class="material-icons mdl-color-text--red-300" title="Not promoted" >close</i>
	      					      	{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% comment %} Pagination {% endcomment %}
				{% if bookmark.paginator.num_pages > 1 %}
				<div class="mdl-card__supporting-text pTB0 mdl-color-text--grey-600">		            
					{% include "common/pagination.html" with nodes=bookmarks getvars=getvars only %}
				</div>
				{% endif %}
			{% else %}  {% comment %} Display the notification {% endcomment %}
				<div class="">
					<div class="search-stats">        
						Sorry, no results for
					</div>
					<div class="search-title">
						<h3>{{result_title}}</h3>
					</div>
					<div class="search-stats oops-message">	            
					</div>
				</div>
			{% endif %}					
			</div>					
		</div>	
	</section>

    {% url "bookmarks:add_bookmark" as url %}
    {% include "common/button-floating-add.html" with url=url %}


</div>

{% endblock %}
