{% load tz %}
<div class="panel panel-default">
	<div class="panel-heading panel-warning">Bookmarks</div>
	{% if not bookmarks|length > 0 %}
		<div class="alert alert-warning" role="alert">
			No Bookmarks!!!
		</div>
	{% else %}
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<td>
							Title
						</td>
						<td>
							Privacy
						</td>
					</tr>
				</thead>
				<tbody>
				{% for el in bookmarks %}
					<tr>
						<td> <a href="{{ el.get_absolute_url }}"> {{ el.get_title }} </a> </td>
						<td> 
							{% if el.privacy_level == 'pub' %}<i class="fa fa-unlock"></i>{% else %}<i class="fa fa-lock"></i>{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
</div>