{% extends "spotlight/base.html" %}

{% block extra_script %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/widgets.css"/>
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/actions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/calendar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/DateTimeShortcuts.js"></script>

{{ bookmark_form.media }}

{% endblock %}


{% load staticfiles %}


{% block content %}

{% if messages %}
<ul class="messages" id="message_head">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="message hidden" id = "flash_message">
	<div class = "alert-info hidden" id = "flash_info">
		<p></p>
     </div>

	<div class = "alert-danger hidden" id = "flash_danger">
		<p></p>
     </div>

	<div class = "alert-warning hidden" id = "flash_warning">
		<p></p>
     </div>

	<div class = "alert-success hidden" id = "flash_success">
		<p></p>
     </div>
</div>


{% load crispy_forms_tags %}

{% crispy spotlight_form spotlight_form.helper %}

	<div class="row  panel panel-primary hidden" id="snippet_header" >
			<!-- Stacked Featured posts for this section -->
				<div class="media feature">
                	<a  class="image" href="#" class="pull-left">
						<img class="img-responsive" src="" id="snippet_image" class="media-object"></img>                	
                	</a>
                	<div class="feature-heading">
                		<span class="eyebrow" > </span>
                		<a class="title" id="snippet_title" href="#">

                		</a>
                	</div>
                </div>
	</div>


	{% endblock %}	
