{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block title %}
Featured Posts
{% endblock %}

{% block breadcrumb %}
        {% block blog_breadcrumb %}
        {% endblock blog_breadcrumb %}
{% endblock %}

{% block content %}
<div class="row main-content-wrapper">  	
   	<div class="content-area clearfix">
   		<div class="page-title">
			<h2>Spotlights</h2>
		</div>
   		<div class="col-sm-12 col-md-8 col-lg-9">
			{% block spotlight_content %}
   			{% endblock %}
  		</div>
  		{% include "sidebar.html" %}
            <div class="overlay" id="overlay-container">
			
			
		    </div>
   	</div>
</div>	
{% endblock %}