{% extends "spotlight/base.html" %}
{% load staticfiles %}

{% block content %}

{% load url from future %}
{% load thumbnail %}
	<div class="row  panel panel-primary">
			<!-- Stacked Featured posts for this section -->
				{% for node in bookmarks %}
				<div class="media feature">
                	<a  class="image" href="{{node.get_absolute_url}}" class="pull-left">
						<img class="img-responsive" src="{{ node.get_image_url }}" class="media-object"></img>                	
                	</a>
                	<div class="feature-heading">
                		<span class="eyebrow"> {{ node.get_parent.title }}</span>
                		<a class="title" href="{{node.get_absolute_url}}">
                			 {{ node.title }}
                		</a>
                	</div>
                	<div class="feature-tags"><span class="glyphicon glyphicon-tags"></span> <b>Tags:</b> 
                		<ul class="post-tags">
                			{% for tag in node.get_tags %}
                			 <li> <a href="{{ tag.url }}"> {{ tag.name }}</a></li>
                			{% endfor %} 
                		</ul>
                	</div>
                </div>
                {% endfor %}					
	</div>
	
	{% endblock %}	