{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block title %}
Explore
{% endblock %}

{% block breadcrumb %}
        {% block blog_breadcrumb %}
        {% endblock blog_breadcrumb %}
{% endblock %}

{% block content %}
     {% block content_blog %}
     {% endblock %}
 <!-- Django loaded Javascripts -->
<link href="{{ STATIC_URL }}css/dashboard/index_tree.css" rel="stylesheet" type="text/css">
<script src="{{ STATIC_URL }}/js/index_tree.js"></script> 

{% endblock %}

