{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block title %}
Explore
{% endblock %}

{% block breadcrumb %}
        {% block blog_breadcrumb %}
        {% endblock blog_breadcrumb %}
{% endblock %}

{% block content %}
 				       {% block content_blog %}
 				       {% endblock %}
 <!-- Django loaded Javascripts -->
<script src="{{ STATIC_URL }}js/getuser.js"></script> 
<script src="{{ STATIC_URL }}js/voting/voting_detail.js"></script>
<script src="{{ STATIC_URL }}js/annotations/script.js"></script>
<script src="{{ STATIC_URL }}js/blogging/nav_affix.js"></script>    
{% endblock %}

