{% extends "blogging/base.html" %}
{% load cms_tags %}

{% block extra_script %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/actions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/calendar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/DateTimeShortcuts.js"></script>
{% endblock %}

{% block title %}
Create Content - Phase-1 
{% endblock %}

{% block content_blog %}
<div class="container-fluid" >
	<div class="row">
	    {% include 'leftbar.html' with active="create" %}

	<div class="col-md-8 pT-50">
		{% load crispy_forms_tags %}
		{% crispy form form.helper %}
	</div>
	
	</div>
</div>
{% endblock %}