{% extends "blogging/base.html" %}
{% block extra_script %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/widgets.css"/>


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
<!--<script src="{{ STATIC_URL }}js/cms.ckeditor.js"></script>-->
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/actions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/calendar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/DateTimeShortcuts.js"></script>


{{ form.media }}

{% endblock %}

{% block title %}
Create Content - Phase-2
{% endblock %}


{% load cms_tags %}




{% block content_blog %}
<div class="container-fluid" >
	<div class="row">
	    {% include 'leftbar.html' with active="create" %}

	<div class="col-md-8 pT-50">
		{% if success %}
		
		<h1> Save Success! Thank You For Time. </h1> 
		
		
		{% else %}
		
		{% load crispy_forms_tags %}
		{% crispy form %}
		
		{% endif %}
	</div>
	</div>
</div>
{% endblock %}

