{% extends "blogging/base.html" %}
{% block extra_script %}
<script src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
{% endblock %}


{% load cms_tags %}
{% load disqus_tags %}
{% disqus_dev %}

{% if parent %}
{% block blog_breadcrumb %}
{% include "blogging/includes/breadcumb.html" with nodes=parent only %}
{% endblock %}
{% endif %}

{% block title %}
PirateLearner | {{ content.title }}
{% endblock %}



{% block content_blog %}

{% load blogging_tags %}

{% render_content content %}


{% disqus_show_comments %}
{% endblock %}

