{% extends 'base.html'%}
{% block content %}
        <div class="row-fluid" style="min-height: 200px;">
            <div class="col-md-2 col-md-offset2">
                <ul class="nav nav-list">
                    <li><a href=" {% url 'account_email'%}">Account Settings</a> </li>
                    <li><a href="">Messages</a> </li>
                    <li class="active"><a href="">Profile</a> </li>
                </ul>
            </div>
            <div class="col-md-6">
{% if user %}
	<img width="50" height="50" src="{{ profile.get_avatar_url }}" />
    <h1>Welcome, {{ profile.get_first_name }}</h1>
    {% for account in user.socialaccount_set.all %}
        <h2 style="text-transform:capitalize;">{{ account.provider }} account data</h2>
        <p><img width="50" height="50" src="{{ account.get_avatar_url }}" /></p>
        <p>UID: <a href="{{account.extra_data.link }}">{{ account.uid }}</a></p>
        <p>Username: {{ account.extra_data.username }}</p>
        <p>First Name: {{ account.extra_data.first_name }}</p>
        <p>Last Name: {{ account.extra_data.last_name }}</p>
        <p>Profile Link: <a href="{{ account.extra_data.link }}">{{ account.extra_data.link }}</a></p>
        <p>Gender: {{ account.extra_data.gender }}</p>
        <p>Birthday: {{ account.extra_data.birthday }}</p>
    {% endfor %}
    <p> Additional information </p>
	<p>Birthday: {{ profile.get_birthday }}</p>
	<p>Interest: {{ profile.get_interest }}</p>
	<p>Occupation: {{ profile.get_occupation }}</p>
	<p>Address: {{ profile.get_address }}</p>
	
{% endif %}
            </div>
        </div>

{% endblock %}