{% extends 'base.html'%}
{% load social_profile %}

{% block extra_script %}

<link href="{{ STATIC_URL }}css/dashboard/style.css" rel="stylesheet" type="text/css">
 
{% endblock %}

{% block content %}

<div class="mB-120 ">
    <div class="section fixed-width mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-grid">
	        <div class="author-card--lg wFull mT-32">
	            <div class="card__title text-center pB16">
	                {% with profile_img_url=profile.get_avatar_url %}
	                {% if profile_img_url %}
	                <img class="avatar border" width="120" height="120" src={{ profile_img_url }}>
	                {% else %}                  
	                <div class="avatar bC-none">
	                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="120" height="120" style="fill: rgba(97, 97, 97, 1);">
	                        <path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Bitstream Vera Sans" d="M 16 4 C 12.145852 4 9 7.1458513 9 11 C 9 13.393064 10.220383 15.517805 12.0625 16.78125 C 8.485554 18.302923 6 21.859881 6 26 L 8 26 C 8 21.533333 11.533333 18 16 18 C 20.466667 18 24 21.533333 24 26 L 26 26 C 26 21.859881 23.514446 18.302923 19.9375 16.78125 C 21.779617 15.517805 23 13.393064 23 11 C 23 7.1458513 19.854148 4 16 4 z M 16 6 C 18.773268 6 21 8.2267317 21 11 C 21 13.773268 18.773268 16 16 16 C 13.226732 16 11 13.773268 11 11 C 11 8.2267317 13.226732 6 16 6 z" color="#000" overflow="visible" font-family="Bitstream Vera Sans"/>
	                    </svg>
	                </div>
	                {% endif %}
	                {% endwith %}
	                <div class="title-text dark">
	                    {{ profile.get_name }}
	                </div>
	                <div class="extras">{{ profile.get_email }}</div>
	                <div class="extras">
	                    <span>Joined</span>
	                    <span>{{ request.user.date_joined|date:"d M, Y" }}</span>
	                </div>
	                <div class="group mT-16">
	                    <span>Role . </span>
	                    {% for group in groups %}
	                       <button class="curve mdl-button c-{{ group|lower }}">{{ group|title }}</button>
	                    {% endfor %}
	                </div>
	                <div class="__row center">
	                {% for account in social_accounts %}
	                    <div class="social circle">
	                        <a class="soc-button" title="View {{ account.provider_name }} profile" href="{{ account.profile_url }}">
	                            <span class="soc-icon-{{ account.provider_name|lower }}"></span>
	                        </a>
	                    </div>
	                {% endfor %}
	                </div>
	            </div>
	            <div class="mdl-card__supporting-text">
	            </div>
	            {% comment %} Put the articles here {% endcomment %}
	            <p class="subhead mdl-color-text--grey-500 center">
	                Your recent contibutions to pirate society.
	            </p>
		        {% if articles|length > 0 %}
		            {% for el in articles %}
		                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
		                    <div class="post-card sm mdl-card mdl-cell mdl-cell--12-col">
		                      <div class="mdl-card__supporting-text">
		                        <h4>{{ el.get_title }}</h4>
		                        {{ el.get_summary }}
								<div class="light-txt mT-8">
		                      		<span>{{ el.publication_start }}</span>
		                      	</div>
		                      </div>
		                      <div class="mdl-card__actions row fill">
		                        <div>
		                        {% if el.published_flag %}
		                            <i class="material-icons mdl-color-text--green-600 post-status" title="published">check</i>
		                            {% elif el.special_flag %}
		                            <i class="material-icons mdl-color-text--red-600 post-status" title="in draft">cancel</i>
		                            {% else %}
		                            <i class="material-icons mdl-color-text--red-300 post-status" title="pending for review" >close</i>
		                        {% endif %}
		                        </div>
		                        <a href="{{ el.get_absolute_url }}" class="mdl-button">Read More</a>
		                      </div>
		                    </div>
		              </section>
		            {% endfor %}
		         {% else %}
		                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
		                    <div class="post-card sm mdl-card mdl-cell mdl-cell--12-col">
		                      <div class="mdl-card__supporting-text">
		                        <h4>Not yet started?</h4>
		                        Everyone think diffrently. Let the others know the methods that helps you understand things.
		                      </div>
		                      <div class="mdl-card__actions">
		                        <a href="{% url "blogging:content-type" %}" class="mdl-button">Contribute Now</a>
		                      </div>
		                    </div>
		              </section>
		        {% endif %}
		        {% comment %} Put the articles here {% endcomment %}
		        <p class="subhead mdl-color-text--grey-500 center">
		            Your recent bookmarks for safekeeping.
		        </p>
	            {% if bookmarks|length > 0 %}
	                {% for el in bookmarks %}
	                    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
	                        <div class="post-card sm mdl-card mdl-cell mdl-cell--12-col">
	                          <div class="mdl-card__supporting-text">
	                            <h4>{{ el.get_title }}</h4>
	                            {{ el.get_summary|truncatewords:30 }}
								<div class="light-txt mT-8">
		                      		<span>{{ el.bookmark.added }}</span>
		                      	</div>
	                          </div>
	                          <div class="mdl-card__actions row fill">
	                          	<div>
                                	<span>
	                                {% if el.is_promoted %}
	                                	<i class="material-icons mdl-color-text--green-600" title="promoted">check</i>
	                                {% else %}
	                                	<i class="material-icons mdl-color-text--red-300" title="Not promoted" >close</i>
	                                {% endif %}
	                                </span>
	                          		<span>
	                                {% if el.privacy_level == "pub" %}
	                                    <i class="material-icons mdl-color-text--blue-600" title="public">people</i>
	                                {% else %}
	                                    <i class="material-icons" title="private">person</i>
	                                {% endif %}
                                	</span>
	                            </div>
								<a href="{{ el.get_absolute_url }}" class="mdl-button">Read More</a>
	                          </div>
	                        </div>
	                  </section>
	                {% endfor %}
	             {% else %}
	                    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
	                        <div class="mdl-card mdl-cell mdl-cell--12-col">
	                          <div class="mdl-card__supporting-text">
	                            <h4>No Bookarks?</h4>
	                            Bookmarks help you keep track of web pages you like or think important. Manage your favorite sites now.
	                          </div>
	                          <div class="mdl-card__actions">
	                            <a href="{% url "blogging:content-type" %}" class="mdl-button">Create Bookmark</a>
	                          </div>
	                        </div>
	                  </section>
	            {% endif %}
        </div>

        </div>
    </div>

</div>

{% comment %}
<div class="container-fluid">
	<div class="row">
	    {% include 'leftbar.html' with active="profile" %}
		<div class="col-md-8 pT-50">
		{% if user %}
			<div class="row">

				<div class="col-sm-12 col-md-4 pR-0">				
					<div class="card user-dashboard-local-about pL-8 pR-8" style="min-height:275px;">
						<table class="table pL-8 pR-8">
							<caption class="user-dashboard-local-table-title"><h3>About you</h3></caption>
							<tr>
								<td>
									<label for="user-dob">Birthday</label> 
								</td>
								<td>
									<span id="user-dob">{{ profile.get_birthday|default_if_none:"--" }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<label for="user-work">Occupation</label> 
								</td>
								<td>
									<span id="user-work">{{ profile.get_occupation|default_if_none:"--" }}</span>
								</td>
							</tr>									
							<tr>
								<td>
									<label for="user-website">Website</label> 
								</td>
								<td>
									<span id="user-website"><a href="{{ profile.get_website|default_if_none:"#" }}">{{ profile.get_website|default_if_none:"--" }}</a></span>
								</td>
							</tr>
							<tr>
								<td>
									<label for="user-time">Member Since</label> 
								</td>
								<td>
									<span id="user-time">{{ profile.get_signin_time|timesince }}</span>
								</td>
							</tr>											
						</table>
					</div>
				</div>

				<div class="col-sm-12 col-md-4 pL-0 pR-0" >				
					<div class="card pL-8 pR-8" style="min-height:275px;">
						<table class="table pL-8 pR-8">
							<caption class="user-dashboard-local-table-title"><h3>Interests</h3></caption>
							{% with profile.get_interest as interest %}
								{% if interest|length > 0 %}
									{% for el in profile.get_interest %}
									<tr>
										<td>
											<span id="user-interests-{{ el }}">{{ el }}</span>
										</td>
									</tr>							
									{% endfor %}
								
								{% else %}
									<tr>
										<td>
											<span> -- </span>
										</td>
									</tr>																
								{% endif %}							
							{% endwith %}
						</table>
					</div>
				</div>

				<div class="col-sm-12 col-md-4 pL-0" >				
					<div class="card pL-8 pR-8" style="min-height:275px;">
						<table class="table pL-8 pR-8">
							<caption class="user-dashboard-local-table-title"><h3>Address</h3></caption>
							<tr>
								<td>
									<span id="user-address">{{ profile.get_address|default_if_none:"--" }}</span>
								</td>
							</tr>									
						</table>
					</div>
				</div>								
				
			</div>
		 	<div class="row">
			{%  social_profile "Google" %}
			{%  social_profile "Facebook" %}
			{%  social_profile "Twitter" %}
			</div>
							
		</div>				
		{% endif %}
		</div>
		
	</div> <!--/row -->
</div>
{% endcomment %}
{% endblock %}