{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% load humanize %}

{% block title %}
Messages
{% endblock %}


{% block content %}

<div class="mB-120">

	<div class="section fixed-width mdl-grid">
		<div class="mdl-cell mdl-cell--12-col mdl-grid">
			<div class="author-card--lg wFull mT-32 ">
				<div class="card__title pB16 border-b-1px">
					<span class="title-text dark">Chat with {% for el in thread.participants.all %}
						{% if el != request.user %}
							{{ el.profile.get_profile_name }}
						{% endif %}
					{% endfor %}</span>
				</div>
	            <div class="mdl-card__supporting-text">
	            	{% regroup chats|dictsort:"created" by created.date as message_list %}
					<div class="chat-window">
					{% for msg in message_list %}
					    {% if forloop.first %}
					    <div class="chat-start-1"> 
					    	<abbr class="timestamp" >Conversation started {{ msg.grouper }}</abbr>
					    </div>
					     {% else %}
					    <div class="chat-start"> 
					    	<abbr class="timestamp" >{{ msg.grouper }}</abbr>
					    </div>
					     {% endif %}
				        {% for item in msg.list %}
				        <div class="abs-right">
				        	<img class="img-circle mT-8 vertical-top" style="width:32px;height:32px" src="{{ item.sender.profile.get_avatar_url }}"></img>
							<div class="talk-bubble tri-right round left-top">
							  <div class="talktext">
							    <p>{{ item.body }}</p>
							  </div>
							</div>
						</div>
				        {% endfor %}
					{% endfor %}
                    <div class="section__block--form mT-32">
                      <form  class="formbox" method="post" action="{% url 'messages:thread_messages' thread.pk %}">
                      {% csrf_token %}
                        <div class="form__field form__field--name">
                        	<div class="mdl-textfield mdl-js-textfield is-upgraded">
                          		<input name="body" class="mdl-textfield__input" type="text"></input>
                          		<label class="mdl-textfield__label" for="name">Message</label>
                          	</div>
                          	<span class="input-group-btn">
	                            <button type="submit" class="feature-button feature-button--submit mdl-button mdl-js-button mdl-button--raised">
	                            	<i class="material-icons">send</i>
								</button>
                          	</span>
                        </div>
                      </form>
                    </div><!-- /.box-footer-->

	            </div>
			</div>
		</div>
	</div>
</div>

{% comment %}  
    <div class="container-fluid">
        <div class="row">
            {% include 'leftbar.html' %}
            <div class="col-md-8 pT-50 col-offset-2">
                  <!-- DIRECT CHAT -->
                  <div class="box-primary direct-chat direct-chat-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title">Messages</h3>
                      <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="{% get_message_count request.user thread %} New Messages" class="badge bg-yellow">{% get_message_count request.user thread %}</span>
                      </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                      <!-- Conversations are loaded here -->
                      <div class="direct-chat-messages">
                
                {% for message in chats %}
                        <!-- Message. Default to the left -->
                        {% ifequal message.sender request.user %}

                        <!-- Message to the right -->
                        <div class="direct-chat-msg right">
                          <div class="direct-chat-info clearfix">
                            <span class="direct-chat-name pull-right">{{ message.sender.profile.get_name|title }}</span>
                          </div><!-- /.direct-chat-info -->
                          <img class="direct-chat-img" src="{{ message.sender.profile.get_avatar_url }}" alt="message user image"><!-- /.direct-chat-img -->
                          <div class="direct-chat-text pull-right">
                            {{ message.body }} <br /> <span class="direct-chat-timestamp"><small>{{ message.created|naturaltime }}</small></span>
                          </div><!-- /.direct-chat-text -->
                        </div><!-- /.direct-chat-msg -->
                        {% else %}
                        <div class="direct-chat-msg">
                          <div class="direct-chat-info clearfix">
                            <span class="direct-chat-name pull-left">{{ message.sender.profile.get_name|title }}</span>
                          </div><!-- /.direct-chat-info -->
                          <img class="direct-chat-img" src="{{ message.sender.profile.get_avatar_url }}" alt="message user image"><!-- /.direct-chat-img -->
                          <div class="direct-chat-text pull-left">
                            {{ message.body }} <br /> <span class="direct-chat-timestamp"><small>{{ message.created|naturaltime }}</small></span>
                          </div><!-- /.direct-chat-text -->
                        </div><!-- /.direct-chat-msg -->
                        
                        {% endifequal %}
                {% endfor %}
                      </div><!--/.direct-chat-messages-->
					</div><!-- /.box-body -->                
                    <div class="box-footer pT-16">
                      <form  class="form form-horizontal" method="post" action="{% url 'messages:thread_messages' thread.pk %}">
                      {% csrf_token %}
                        <div class="input-group">
                          <input name="body" class="form-control" type="text"></input>
                          <span class="input-group-btn">
                            <button type="submit" class="btn btn-warning">Send</button>
                          </span>
                        </div>
                      </form>
                    </div><!-- /.box-footer-->
              </div><!--/.direct-chat -->
            </div>
        </div>
    </div>
    {% endcomment %}
{% endblock %}

{% comment %}  

{% block js %}
    <script type="text/javascript" src="{% static "js/jquery.mousewheel.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.jscrollpane.min.js" %}"></script>
    <script>

    </script>
{% endblock %}

{% endcomment %}