{% extends "base.html" %}
{% load static %}


{% block content %}  
        <div class="mB-120 about-us-page">
          <div class="vision">
            <div class="slides">
              <div class="wrapper main-aux mdl-grid">
                  <div class="content mdl-cell mdl-cell--6-col mdl-color-text--white">
                    <h2 class="heading mdl-typography--font-light">
                      We envision PirateLearner as a one-stop learning resource for all people interested in learning.
                    </h2>
                  </div>
                </div>
            </div>
            <a class="button-down" href="#focus">
              <button class="mdl-button mdl-js-button mdl-button--fab "><i class="material-icons">keyboard_arrow_down</i></button>
            </a>
          </div>
          <div class="main-aux">
            <!-- Focus section -->
            <div class="section pT40" >
              <h2 class="mdl-typography--font-light heading text-center" id="focus">
                Our focus
              </h2>
              <p class="subhead mdl-color-text--grey-500">
                Right now we’re focused on 'Engineering' because we are engineers by education and profession and learners by nature.
                But, the word 'engineer' holds more significance to us than a mere qualification. An engineer to us means anybody who
                'creates' things. Thus even if you have had no experience in science at all from an academic point of view but have messed
                around with things or would like to, to see how they are built or just for the fun of it, this is the place for you to be, as an engineer.
              </p>
            </div>

            <!-- Main goal section -->
            <div class="section pT40 mdl-grid">
              <div class="list-heading mdl-cell mdl-cell--4-col  mdl-cell--12-col-tablet mdl-color">
                <div class="circle-list--heading mdl-color-text--white hide-small">Our major goals are nothing short of a democratic ideal in education</div>
                <h2 class="mdl-typography--font-light heading text-center hide-large">Our major goals</h2>
              </div>
              <div class="list-items mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet">
                <div class="list-item--first flex-container flex-row">
                  <figure>
                    <img alt="" src="{{ STATIC_URL }}images/vision.png" style="width: 80px;height:80px;">
                  </figure>
                  <p class="mdl-color-text--grey-500">'Teach' and not 'Train': Simplify understanding to a point of being obvious.</p>
                </div>
                <div class="list-item--second flex-container flex-row">
                  <figure>
                    <img alt="" src="{{ STATIC_URL }}images/vision.png" style="width: 80px;height:80px;">
                  </figure>
                    <p class="mdl-color-text--grey-500">make good and intuitive learning available through an informal channel but in a highly structured (engineered) manner.</p>
                </div>
                <div class="list-item--third flex-container flex-row">
                  <figure>
                    <img alt="" src="{{ STATIC_URL }}images/vision.png" style="width: 80px;height:80px;">
                  </figure>
                  <p class="mdl-color-text--grey-500">make knowledge accessible to a lay man in simple layman terms, and at the same time being technically correct and
                  sound for any person who is looking for a reference or technical explanation.</p>
                </div>
              </div>
            </div>

            <!-- Process section -->
            <div class="section pT40" >
              <h2 class="mdl-typography--font-light heading text-center" id="focus">
                Our Process
              </h2>
              <p class="subhead mdl-color-text--grey-500">
                We are a bunch of engineering professionals (until now) with a keen awareness of the problems that students face while in college.
                The biggest one seems to be the overwhelming abundance of learning resources, both good and bad. Searching for credible and reliable
                study material is like searching a needle in haystack. We hope to fill in the gap by bringing together the best resources on the internet,
                refining them wherever necessary, and adding more pragmatic content to bridge the divide between academia and industry.
              </p>
              <p class="subhead mdl-color-text--grey-500">
                Our motto of creation is "There is always room for improvement!" which boils down to following.
              </p>
              <p>
                <img src="{{ STATIC_URL }}images/flow.svg" alt="Process of Pirate Learner">
              </p>
            </div>

            <!-- Principles section -->
            <div class="section pT40" >
              <h2 class="mdl-typography--font-light heading text-center" id="focus">
                Our Principles
              </h2>
              <p class="subhead mdl-color-text--grey-500">
                We're pirates in the sense that we're free agents and will not hesitate in going round the (virtual) world to get the best parts.
                We WILL have what we want. Call us Robin Hoods, or Ragnar Danneskjölds or simply honest fools. But beware, we'll reprimand you and mock
                at you if it must be done. We're just like that.
              </p>
            </div>
            <!-- principles section -->
            <div class="section pT40 mdl-grid">
              <div class="list-heading mdl-cell mdl-cell--4-col  mdl-cell--12-col-tablet mdl-color">
                <div class="circle-list--heading mdl-color-text--white hide-small">Rules to live by</div>
                <h2 class="mdl-typography--font-light heading text-center hide-large">Rules to live by</h2>
              </div>
              <div class="list-items mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet">
                <div class="list-item--first flex-container flex-row">
                  <figure>
                    <img alt="" src="{{ STATIC_URL }}images/arrow.png" style="width: 80px;height:80px;">
                  </figure>
                  <p class="mdl-color-text--grey-500">Show, don't tell.</p>
                </div>
                <div class="list-item--second flex-container flex-row">
                  <figure>
                    <img alt="" src="{{ STATIC_URL }}images/arrow.png" style="width: 80px;height:80px;">
                  </figure>
                    <p class="mdl-color-text--grey-500">
                      Each person is different, but all make one, big and coherent community.
                    </p>
                </div>
                <div class="list-item--third flex-container flex-row">
                  <figure>
                    <img alt="" src="{{ STATIC_URL }}images/arrow.png" style="width: 80px;height:80px;">
                  </figure>
                  <p class="mdl-color-text--grey-500">DRY - Don't. repeat. yourself.</p>
                </div>
              </div>
            </div>
            <!-- team section -->
            <div class="section pT40" >
              <h2 class="mdl-typography--font-light heading text-center" id="focus">
                Pirates On Board
              </h2>
              <p class="subhead mdl-color-text--grey-500 text-center">
                “Individuals can and do make a difference, but it takes bunch of pirates to really mess things up.”
              </p>
              <div class="mdl-grid pT30">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet team">
                  <div class="team-header">
                     <img class="img-circle" alt="Anshul Founder" src="http://piratelearner.com/static/static/images/anshul.jpg" style="width: 100px;height:100px;">
                  </div>
                  <div class="team-content">
                    <h3>Anshul</h3>
                    <p class="lead">Founder </p>
                    <p class="lead">
                      A constant worrier. Answers to "Who's incharge here?" callouts.
                    </p>
                    <!-- START the_content -->
                    <p>works on Content Editing, Django, Javascript, HTML(5)/CSS(3), Web Design <br> <br>
                      I like books in print, coffee in mugs and sleep in a cozy bed, in all permutations. I would like to build something like a Megatron.
                    </p>
                    <!-- END the_content -->
                  </div>
                  <div class="team-footer">
                    <a href="mailto:anshulthakur@rediffmail.com"  target="_blank"><i class="fa fa-envelope"></i></a>
                    <a href="https://www.twitter.com/GoogleWallet" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.twitter.com/GoogleWallet" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet team">
                  <div class="team-header">
                    <img class="img-circle" alt="Abhishek Founder" src="http://piratelearner.com/static/static/images/abhishek.jpg" style="width: 100px;height:100px;">
                  </div>
                  <div class="team-content">
                    <h3>Abhishek</h3>
                    <p class="lead">Founder </p>
                    <p class="lead">
                      Cool head, doesn't do what does not need to be done.
                    </p>
                    <!-- START the_content -->
                    <p>works on Django, Javascript, Content Editing <br> <br>
                      I like to REST my heels in a Beautiful Soup full of Python. I like movies, coffee, travel and books.
                    </p>
                    <!-- END the_content -->
                  </div>
                  <div class="team-footer">
                    <a href="mailto:abhi.rai.nitham@gmail.com"  target="_blank"><i class="fa fa-envelope"></i></a>
                    <a href="https://www.twitter.com/GoogleWallet" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.twitter.com/GoogleWallet" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet team">
                  <div class="team-header">
                    <img class="img-circle" alt="Rajeev Artist" src="http://piratelearner.com/static/static/images/rajeev.jpg" style="width: 100px;height:100px;">
                  </div>
                  <div class="team-content">
                    <h3>Rajeev</h3>
                    <p class="lead">Artist </p>
                    <p class="lead">
                      Gives visual impression to theoretical ideas.
                    </p>
                    <!-- START the_content -->
                    <p>works on Graphic Design <br> <br>
                    Trust me, I'm an artist AND an engineer, if only they'd let me use different colors. ;)
                    </p>
                    <!-- END the_content -->
                  </div>
                  <div class="team-footer">
                    <a href="mailto:abhi.rai.nitham@gmail.com"  target="_blank"><i class="fa fa-envelope"></i></a>
                    <a href="https://www.twitter.com/GoogleWallet" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.twitter.com/GoogleWallet" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet team">
                  <div class="team-header">
                    <img class="img-circle" alt="You could be here!" src="http://piratelearner.com/static/static/images/default-avatar.png" style="width: 100px;height:100px;">
                  </div>
                  <div class="team-content">
                    <h3>You could be here!</h3>
                    <p class="lead">What would you like it to be? </p>
                    <p class="lead">
                      Insert flashy taglines here!
                   </p>
                    <!-- START the_content -->
                    <p>works on Django, SEO, Javascript, Design <br> <br>
                    We'd like to colloborate. If interested, get in touch.
                    </p>
                    <!-- END the_content -->
                  </div>
                  <div class="team-footer">
                    <a href="mailto:abhi.rai.nitham@gmail.com"  target="_blank"><i class="fa fa-envelope"></i></a>
                    <a href="https://www.twitter.com/GoogleWallet" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.twitter.com/GoogleWallet" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
        </div> <!-- main-aux end -->
      </div>
       <div class="section section--support section--grey">
          <div class="main-aux">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--6-col help-item">
                <h3> Still have Questons?</h3>
                <p>
                  Check out the <a href="{% url "faq" %}">FAQ</a>
                </p>
              </div>
              <div class="mdl-cell mdl-cell--6-col help-item">
                <h3>Interested?</h3>
                <p>
                  Reach out to us at <a href="{% url "contact" %}">Contact</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      
{% endblock %}
