{% load staticfiles %}
<!DOCTYPE html>

<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
	
<html class="no-js" lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title >{% block title %}Home {% endblock title %}| {{ site.name }}</title>
      {% block meta %}
		<meta name="description" content="PirateLearner As A One-Stop Learning Resource For All People Interested In Learning.">
		<meta name="author" content="Anshul" >
	{% endblock %}
	<!-- http://t.co/dKP3o1e -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
      
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/material.min.css">
      <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
      <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome-4.6.3/css/font-awesome.min.css">
      {% block extra_style %}
      {% comment %}  Page specific styles goes here {% endcomment %}
      <!-- slick plugin for carousel -->
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}slick/slick.css"/>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}slick/slick-theme.css"/>      
      {% endblock %}

	<!-- Windows 8 / RT -->
	<meta name="msapplication-TileImage" content="img/apple-touch-icon-144x144-precomposed.png">
	<meta name="msapplication-TileColor" content="#000">
	<meta http-equiv="cleartype" content="on">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/material.js"></script>
    <script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		  TeX: { equationNumbers: { autoNumber: "AMS" } }
		});
	  </script>
   	<script src="{{ STATIC_URL }}/js/MathJax/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
   <!-- Syntax highlighter -->
	<script src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shCore.js"></script>
	<script src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushSass.js"></script>
	<script src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushPython.js"></script>
	<script src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushCpp.js"></script>
	<script src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushJScript.js"></script>
	<script src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushXml.js"></script>
	<script src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushBash.js"></script>
	<script src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushPerl.js"></script>
    <!-- GPLus Script -->
	<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- analytics -->
{% if request.user.is_staff != True %}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-51345450-1', 'piratelearner.com');
	  ga('send', 'pageview');
	</script>
{% endif %}
</head>
  <body>
  {% block body %}
    <div class="mdl-layout mdl-js-layout ">
      <header class="mdl-layout__header page-header mdl-layout__header--scroll">
{% comment %}        {% if request.user.is_authenticated %} {% endcomment %}
	  	<div class="mdl-layout__drawer-button">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" enable-background="new 0 0 50 50" width="24" height="24" style="fill: rgb(51, 51, 51);vertical-align: initial;">
			    <path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Bitstream Vera Sans" d="M 0 9 L 0 11 L 50 11 L 50 9 L 0 9 z M 0 24 L 0 26 L 50 26 L 50 24 L 0 24 z M 0 39 L 0 41 L 50 41 L 50 39 L 0 39 z" color="#000" overflow="visible" enable-background="accumulate" font-family="Bitstream Vera Sans"/>
			</svg>	  		
		</div>
{% comment %}    {% endif %} {% endcomment %}	      
        <div class="mdl-layout__header-row page-header--row">
          <!-- Title -->
          	<div class="mdl-layout-title logo image">
		  	  	<a href="/"><img class="sm" alt="" src="{{ STATIC_URL }}images/LOGO_V5.svg"></a>
		    </div>
          <div class="mdl-layout-title logo site-name">
            <a href="/">pirate learner</a>
          </div>

          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
          {% url 'home' as url %}
            <a class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link" href="{{ url }}">Home</a>
            {% url 'about' as url %}
            <a class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link" href="{{ url }}">About</a>
            {% url "contact" as url%}
            <a class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link" href="{{ url }}">Contact</a>
            <a class="{% if 'C/blog' in request.path %} is-active {% endif %} mdl-navigation__link" href="{% url "blogging:teaser-view" "blog" %}">Blog</a>
            <a class="{% if 'C/course' in request.path %} is-active {% endif %} mdl-navigation__link" href="{% url "blogging:teaser-view" "course" %}">Explore</a>
            {% if request.user.is_authenticated %}
            <div class="mdl-navigation__link" >
				<button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
				    <i class="material-icons icon ">add_alert</i>
				</button>
				<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
                        {% if notifications|length > 0 %}            
                            {% for el in notifications %}
				                <li class="mdl-menu__item">
				                <a href="{{ el.thread.get_absolute_url }}">
                                    <div>
                                        <i class="material-icons icon" >email</i> {{ el.thread.last_message.body }}
                                        <span class="pull-right text-muted small"> {{ el.updated|timesince }}</span>
                                    </div>
                                 </a>
				                </li>
                            {% endfor %}
                        {% else %}
                        <li class="mdl-menu__item">No Notification</li>
                        {% endif %}
				</ul>
            </div>
                <button id="img-menu-lower-left" class=" mdl-navigation__link action-button mdl-button mdl-js-button mdl-button--icon">
                    <div>
                        <img class="circle" width="36" height="36" src="{{ request.user.profile.get_avatar_url }}"> </img>
                    </div>
                </button>
                
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="img-menu-lower-left">
                    <a href="{% url 'dashboard:dashboard-profile' request.user.id %}"><li class="mdl-menu__item">Profile</li></a>
                    <a href="{% url 'account_logout' %}?next={{ request.path|safe }}"><li class="mdl-menu__item">Logout</li></a>
                </ul>

            {% else %}
            <a class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link" href="{% url 'account_login' %}?next={{ request.path|safe }}">Login</a>
            {% endif %}
          </nav>
        </div>
      </header>
      
	  	<div id="id-drawer" class="mdl-layout__drawer mdl-color--white mdl-color-text--grey-700">
			<div class="mdl-layout__drawer-button"
				onclick="document.getElementById('id-drawer').classList.remove('is-visible');document.getElementsByClassName('mdl-layout__obfuscator')[0].classList.remove('is-visible');return false;">
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 50 50" style="fill: rgb(51, 51, 51);">
				    <path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Bitstream Vera Sans" d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 L 7.71875 6.28125 z" color="#000" overflow="visible" enable-background="accumulate" font-family="Bitstream Vera Sans"/>
				</svg>	
			</div>
		  	  <div class="mdl-layout-title logo">
		  	  	<a href="/"><img alt="" src="{{ STATIC_URL }}images/LOGO_V5.svg" style="width: 120px;height:120px"></a>
		      </div>
		    <nav class="mdl-navigation dashboard-navigation mdl-color-text--grey-800">
		        {% url 'home' as url %}
		        <a class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link " href="{{ url }}">Home</a>
		        {% url 'about' as url %}
		    	<a class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link " href="{{ url }}">About</a>
		    	{% url "contact" as url%}
		    	<a class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link " href="{{ url }}">Contact</a>
		    	{% url "blogging:teaser-view" "blog" as url %}
		    	<a class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link " href="{{ url }}">Blog</a>
		    	{% url "blogging:teaser-view" "course" as url %}
		    	<a class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link " href="{{ url }}">Explore</a>
				<div class="separator hide-large"></div>			
			{% if request.user.is_authenticated %}
			    {% url 'dashboard:dashboard-home' as url %}
				<a href="{{ url }}" class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link">
					Dashboard</a>
				{% url 'dashboard:dashboard-profile' user_id=request.user.id as url %}
				<a href="{{ url }}" 
				class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link">Profile</a>
		        {% url 'blogging:content-type' as url %}
				<a href="{{ url }}" class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link">
					Create Article</a>
				
				{% comment %}  Create Bookmarks {% endcomment %}
				{% url 'bookmarks:add_bookmark' as url%}
				<a href="{{ url }}" class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link">
					Create Bookmarks</a>
                {% url 'bookmarks:manage_bookmarks' as url%}
				<a href="{{ url }} " class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link"> 
						Bookmarks</a>
				{% url 'blogging:manage_articles' as url%}
				<a href="{{ url }} " class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link"> 
						Articles</a>
		    	{% if request.user.is_staff %}
                    {% url 'dashboard:tag-list' as url%}
                    <a href="{{ url }} " class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link">Tags</a> 
							    	
		    		<a class="mdl-navigation__link" href="{% url 'admin:index' %}">Admin</a>
		    	{% endif %}
		    	<div class="separator"></div>
		    	{% url 'messages:new_message' as url%}
				<a href="{{ url }}" class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link">
				Compose</a>
				{% url 'messages:home_message' as url%}
				<a href="{{ url }}" class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link">
				<span class="mdl-badge" data-badge="{{ notification_count }}">Inbox</span> </a>
				<a href="{% url 'account_logout' %}?next={{ request.path|safe }}" class="mdl-navigation__link">Logout</a>						
		    {% else %}
		    	<a class="{% if request.path == url %} is-active {% endif %} mdl-navigation__link" href="{% url 'account_login' %}?next={{ request.path|safe }}">Login</a>	
		    {% endif %}
		    </nav>
			<footer class="mdl-mini-footer">
				<div class="mdl-mini-footer__left-section">
					<ul class="mdl-mini-footer__link-list">
				    	<li><a href="{% url "about" %}">About</a></li>
				    	<li><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_GB">Privacy & Terms</a></li>
				    	<li><a href="{% url "faq" %}">FAQ</a></li>
				    	<li><a id="feedbackBtn-site" data-url="#" href="#">Feedback</a></li>
				    </ul>
				</div>
			</footer>	        
		</div>
      <main class="mdl-layout__content main-content-wrapper">
      
      {% comment %}  search block {% endcomment %}
      {% block search %} {% endblock %}
      
		<!-- Main content goes here -->
		{% block content %} {% endblock %}
        <!-- social icons and footer -->
        <div class="section--grey">
          <div class="page-content">
            <div class="social-icons">
              <span class="social-icons__label">
                Follow:
              </span>
              <ul>
                 <li><a href="https://plus.google.com/116465481265465787624" class="google-plus-icon text-hidden" data-g-label="google-plus" target="_blank">Google Plus</a></li>
                 <li><a href="https://www.twitter.com/PirateLearner" class="twitter-icon text-hidden" data-g-label="twitter" target="_blank">Twitter</a></li>
                 <li><a href="https://www.facebook.com/PirateLearner" class="facebook-icon text-hidden" data-g-label="twitter" target="_blank">Facebook</a></li>
              </ul>
            </div>
          </div>
        </div>
        <footer>
          <div class="page-content">
              <div class="footer__top">
                <h4> Pirate Learner </h4>
                <ul>
                  <li><a href="{% url "about" %}">About</a></li>
                  <li><a href="{% url "contact" %}">Contact</a></li>
                  <li><a href="{% url "blogging:teaser-view" "blog" %}">Blog</a></li>
                </ul>
              </div>
              <div class="footer__bottom">
                <ul class="text-center">
                  <li>&copy; Copyright {% now "Y" %} Pirate Learner</li>
                  <li>All content hosted on Pirate Learner is licensed under a
                    <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_GB">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>
                  </li>
                </ul>

              </div>
          </div>
        </footer>
      </main>
    </div>

{% endblock %}
    <!-- add js script here -->

{% block extra_script %}
	<script type="text/javascript" src="{{ STATIC_URL }}slick/slick.min.js"></script>
	<script src="{{ STATIC_URL }}js/main-config.js"></script> 
{% endblock %}

  </body>
</html>


