{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block breadcrumb %}
        {% show_breadcrumb "blogging/includes/breadcrumb.html" %}
{% endblock %}


{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/carousel.css"></link>
<link rel="stylesheet" href="{{ STATIC_URL }}css/slideshow.css"></link>
    	
<div class="show row" id="slideshow">
	<div class="slide-frame clearfix" id="slide-1">
		<div class="slide-handle ">
			<p class="vertical-text"><b>ENGAGE</b></p>
			<span class="slide-number">1</span>
		</div>
		<div class="frame" >
			<img src="{{ STATIC_URL }}images/Slides/6006122396_52078141fe_o.png" alt="Right Tools" class="img-responsive">	
			<div class="caption-center">
				<h2 class="slide-title"> Trustworthy </h2>
				<h2 class="slide-title"> courseware </h2>
				<h2 class="slide-title"> resources </h2>
			</div>	
		</div>
		<div class="frame-text">
			<ul class="caption-left slide-salient">
					<li class="slide-text">
						<span class="slide-text-title"><h2>Count on us: </h2></span> 
						<span class="slide-text-content">Content read, written and endorsed for passionate learners by engineers in industry </span>
					</li>
					<li class="slide-text">
						<span class="slide-text-title"><h2>Student first:</h2></span>
						<span class="slide-text-content">Bringing the best coursework resources in one place </span> 
					</li>
					<li class="slide-text">
						<span class="slide-text-title"><h2>Practical Approach:</h2> </span>
						<span class="slide-text-content">Bridging the divide between theory and practice </span>
					</li>
					<li class="slide-text">
						<span class="slide-text-title"><h2>Incremental Improvement Model:</h2></span> 
						<span class="slide-text-content">Everyday we do a little bit more, until it is perfect</span>
					</li>
				</ul>
		</div>
	</div>
	<div class="slide-frame clearfix" id="slide-2">
		<div class="slide-handle ">
			<p class="vertical-text"><b>FOCUS</b></p>
			<span class="slide-number">2</span>
		</div>
		<div class="frame" >
			<img src="{{ STATIC_URL }}images/Slides/basic_instinct.jpg" alt="Cut down the bullshit" class="img-responsive">	
			<div class="caption-center">
				<h2 class="slide-title"> Cut </h2>
				<h2 class="slide-title"> down the </h2>
				<h2 class="slide-title"> Clutter </h2>
			</div>	
		</div>
		<div class="frame-text">
			<ul class="caption-left slide-salient">
					<li class="slide-text">
						<span class="slide-text-title"><h2>Easy Login:</h2> </span> 
						<span class="slide-text-content">Just use any popular social networking account. </span>
					</li>
					<li class="slide-text">
						<span class="slide-text-title"><h2>Hassle Free:</h2></span>
						<span class="slide-text-content">Freedom from remembering 'yet another password'. </span> 
					</li>
					<li class="slide-text">
						<span class="slide-text-title"><h2>Less Clutter:</h2> </span>
						<span class="slide-text-content">Login to curtail distracting advertisements. </span>
					</li>
					<li class="slide-text">
						<span class="slide-text-title"><h2>Reading Mode:</h2></span> 
						<span class="slide-text-content">Peace of mind, and the power to focus.</span>
					</li>
					</li>
					<li class="slide-text">
						<span class="slide-text-title"><h2>Premium Features</h2></span> 
						<span class="slide-text-content">At zero price.</span>
					</li>
				</ul>
		</div>
	</div>
	<div class="slide-frame clearfix" id="slide-3">
		<div class="slide-handle ">
			<p class="vertical-text"><b>GROW</b></p>
			<span class="slide-number">3</span>
		</div>
		<div class="frame" >
			<img src="{{ STATIC_URL }}images/Slides/Bulbs-Idea.jpg" alt="Community Creates Ideas" class="img-responsive">	
			<div class="caption-center">
				<h2 class="slide-title"> S </h2>
				<h2 class="slide-title"> T </h2>
				<h2 class="slide-title"> U </h2>
				<h2 class="slide-title"> D </h2>
				<h2 class="slide-title"> Y </h2>
			</div>	
		</div>
		<div class="frame-text">
			<ul class="caption-left slide-salient">
					<li class="slide-text">
						<span class="slide-text-title"><h2>Share </h2></span> 
						<span class="slide-text-content">hat useful things you know, and find. </span>
					</li>
					<li class="slide-text">
						<span class="slide-text-title"><h2>Create</h2></span>
						<span class="slide-text-content">projects with us, or independently, while we showcase them. </span> 
					</li>
					<li class="slide-text">
						<span class="slide-text-title"><h2>Discuss</h2> </span>
						<span class="slide-text-content">Ideas, Problems, Questions and Solutions. </span>
					</li>
					<li class="slide-text">
						<span class="slide-text-title"><h2>Understand</h2></span> 
						<span class="slide-text-content">like never before: Audio visual aids and immersive content.</span>
					</li>
					</li>
					<li class="slide-text">
						<span class="slide-text-title"><h2>Enjoy</h2></span> 
						<span class="slide-text-content">while learning things you didn't know you could do.</span>
					</li>
					<li class="slide-text">
						<span class="slide-text-title"><h2>Suggest</h2></span> 
						<span class="slide-text-content">a new feature.</span>
					</li>
				</ul>
		</div>
	</div>
</div>
<script src="{{ STATIC_URL }}js/slideshow.js"></script>   
    
    
  <div class="row main-content-wrapper">
  	
        	<div class="col-sm-12 col-md-8 col-lg-9">

  {% placeholder "content" %}

  			</div>
  			<div class="col-sm-12 col-md-4 col-lg-3 aside-wrapper">
            	<div class="panel panel-default panel-success col-sm-12 col-md-12 col-lg-12">
					  <h2 class="panel-heading">Login Karo to jaano!</h2>
                 <p class="panel-body">Why you should sign up?</p>
                 <p class="panel-body"><div class="btn btn-lg btn-primary" id="login-now">Sign Up now! &raquo;</div></p>
                 
            	</div>
            	<div class="panel panel-default panel-success col-sm-12 col-md-12 col-lg-12">
					  <h2 class="panel-heading">What people are saying?</h2>
                 <p class="panel-body">These guys are phunny!</p>
                 <p class="panel-body"><a href="#" class="btn btn-success btn-medium">Read what they never said. &raquo;</a></p>
            	</div>
            	<div class="panel panel-default panel-success col-sm-12 col-md-12 col-lg-12">
                 	<div class="panel-heading text-center"> Work in Progress </div>
							<div class="panel-body feature-list">
							<ul class="list-group">
								<li class=" list-group-item">
									<p class="feature-name">Implement feature list</p>
									<div class="progress fix">
										<div class="progress-bar progress-bar-success" style="width: 60%;">
											<span class="sr-only">60% complete</span>				
										</div>
										<p class="fix-bar"><strong>60% complete</strong></p>
									</div>		
								</li>	
								
								<li class=" list-group-item">
									<p class="feature-name">Distraction-Free View</p>
									<div class="progress fix">
										<div class="progress-bar progress-bar-warning" style="width: 20%;">
											<span class="sr-only">20% complete</span>				
										</div>
										<p class="fix-bar"><strong>20% complete</strong></p>
									</div>		
								</li>	
								
								<li class=" list-group-item">
									<p class="feature-name">User Dashboard</p>
									<div class="progress fix">
										<div class="progress-bar progress-bar-error" style="width: 5%;">
											<span class="sr-only">5% complete</span>				
										</div>
										<p class="fix-bar"><strong>5% complete</strong></p>
									</div>		
								</li>	
								
								<li class="list-group-item">
									<p class="feature-name">Own Frontend Tethering</p>
									<div class="progress fix">
										<div class="progress-bar" style="width: 0%;">
											<span class="sr-only">0% complete</span>				
										</div>
										<p class="fix-bar"><strong>0% complete</strong></p>
									</div>		
								</li>
							</ul>	
							
							<div class="btn btn-lg btn-primary">Suggest a feature</div>
							</div>
            	</div>
					<div class="panel panel-default panel-success col-sm-12 col-md-12 col-lg-12">
					  <h2 class="panel-heading">Recent Blog Entries</h2>
                 <ul class="panel-body list-unstyled">
							<li class="panel-body">Lazy imagination.</li>
							<li class="panel-body">But when it works...</li>
							<li class="panel-body">It really does work well</li>                 
                 </ul>
            	</div>
            </div>
  </div>
	
{% endblock content %}


