.article-actions {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
  font-size: 1.5rem;
  height: 3em;
  padding: 2px 5px; }
  .article-actions .article-actions__button {
    position: relative;
    float: left;
    padding-left: 3px;
    padding-right: 3px; }
    .article-actions .article-actions__button > * {
      text-align: center;
      display: block;
      text-decoration: none; }
    .article-actions .article-actions__button > .glyphicon {
      font-size: 1.2em; }
    .article-actions .article-actions__button > .icon-helper {
      font-size: 0.8em;
      color: inherit; }
    .article-actions .article-actions__button:hover:not(.text-muted) {
      background-color: rgba(139, 134, 134, 0.33);
      color: black; }
      .article-actions .article-actions__button:hover:not(.text-muted) * {
        text-decoration: none; }
    .article-actions .article-actions__button > .voted {
      color: #f90; }
