
<!-- 
{% load mptt_tags staticfiles %}
<ol class="breadcrumb container">
{% recursetree nodes %}
<li class="test">
<span class= separator> &raquo; </span>
<a href='{{ node.get_absolute_url }}'>
{{ node.title }} 
</a>
</li>
            {% if not node.is_leaf_node %}
                    {{ children }}
            {% endif %}
{% endrecursetree %}
</ol>
-->


<ol class="breadcrumb container">
{% for ance in ancestors %}
<li>
	{% if not forloop.last %}
	<a href="{{ ance.get_absolute_url }}">{{ ance.get_menu_title }}</a> <span class="separator">&raquo;</span>
	{% else %}
	<span class="active">{{ ance.get_menu_title }}</span>
	{% endif %}
</li>
{% endfor %}
</ol>