{% load mptt_tags staticfiles %}

<div class="bucket layoutSingleColumn clearfix">
	<ul class="bucket-list">
		{% recursetree nodes %} 
		<li class="bucket-list-item">
			<div class="bucket-item-cover">
				<a  class="collectionItem" href="{{ node.get_absolute_url }}" style="background-image:url({{ node.get_image_url }});">						
					<div class="bucket-item-banner u-alignBlock u-alignBottom">
						<div class="bucket-banner-title  collectionItem-title">
								  {{ node.title }}
						</div>
						<div class="bucket-interact-button">
							<span class="bucket-item-favourite">Favorite it!</span>
							<span class="bucket-item-users"> 14k</span>
						</div>
					</div>
				</a>
			</div>
		</li>	
      {% endrecursetree %}
   </ul> 
</div>
