{% load mptt_tags staticfiles %}



        {% recursetree nodes %}
        <div class="tile-big">
                <h3 class="tile-title">{{node.name}}</h3>
                <div class="tile-image-container">
                        <a href="{{node.get_absolute_url}}">
		<img src="{% static "images/gallery_image-1.png" %}" class="tile-image" alt="Some image must have been here">
		</a>
                </div>
                <div class="tile-category bottom-right">
                        <span class="category">Blogging  {{ STATIC_URL }}</span>
                </div>  
        </div>
        {% endrecursetree %}



