{% load url from future %}
        <div class="tile-big">
	{% for node in nodes %}		
                <div class="tile-date top-right">
                        <span class="date">{{node.create_date}}</span>
                </div>
		{% load url from future %}
                <h3 class="tile-title">{{node.title}}</h3>
                <div class="tile-image-container">
                        <a href=" {{node.get_absolute_url}} ">
		<img src="{{STATIC_URL}}images/gallery_image-1.png" class="tile-image" alt="Some image must have been here">
		</a>
                </div>
		{% autoescape off %}
                <p class="tile-summary"> {{node.data | truncatechars:30}} </p>
		{% endautoescape %}
                <div class="tile-author bottom-left">
                        <span class="author"> {{node.author}} </span>
                </div>
                <div class="tile-category bottom-right">
                        <span class="category">Blog</span>
                </div> 
	{% endfor %}
        </div>


