{% comment %}
  Something that django.contrib.comments does not provide:
  An individual template for a single comment, to easily be reused.

  This include is also used by the Ajax comments view.
  The div id should be "c{id}", because the comment.get_absolute_url() points to it.

  NOTE: to override the displayed date format, don't replace this template.
  Instead, define DATETIME_FORMAT in a locale file. Requires setting:

   FORMAT_MODULE_PATH = 'settings.locale'

  Then create 'settings/locale/XY/formats.py' with:

   DATETIME_FORMAT = '...'

  This should give you consistent dates across all views.
{% endcomment %}
{% load i18n %}
        <div{% if preview %} id="comment-preview"{% else %} id="c{{ annotation.id }}"{% endif %} class="comment-item">
          {% if preview %}<h3>{% trans "Preview of your comment" %}</h3>{% endif %}
            <h4>
              {% if annotation.url %}<a href="{{ annotation.url }}" rel="nofollow">{% endif %}
              {% if annotation.name %}{{ annotation.name }}{% else %}{% trans "Anonymous" %}{% endif %}{% comment %}
              {% endcomment %}{% if annotation.url %}</a>{% endif %}
              <span class="comment-date">{% blocktrans with submit_date=annotation.submit_date %}on {{ submit_date }}{% endblocktrans %}</span>
            </h4>

            <div class="comment-text">{{ annotation.body|linebreaks }}</div>
        </div>