
.fullscreen-mode{
position: fixed;
width: 100%;
height:100%;
margin: 10px auto 5px;
top:0;
left:0;
right:0;
bottom:0;
z-index: 5000;

overflow-y: scroll;
}

.fullscreen-mode::-webkit-scrollbar { 
    display: none;	
}

.fullscreen-mode .page-header{
	position: fixed;
	margin: 0 auto;
	
	font-size: 1em;
	
	top:0;
	left:0;
	text-align: center;
	width:100%;
	
	overflow: hidden;
	background-color: rgba(200,189,214, .6);
}


.fullscreen-mode .heading::before, .overlay .heading::after{
	content: "";
	display: none;
}

.fullscreen-mode .heading + div {
	padding-top: 82px;
}

.fullscreen-mode .paper {
	font-size: 18px;
	width: 76em;
	
	line-height: 1.5em;
	
	margin: 0 auto;
}

.overlay{

	width: 100%;
	height: 100%;
	
	display: none;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right:0;
	
	margin: 10px auto 5px;
	
	/*background: rgba(33,33,33,0.9);*/
	background: rgba(233,233,233,1);
}

.overlay>div{

	position: relative;
	display: block;
	margin: 0 auto;
	
	height: 100%;
	
	overflow-y: scroll;
	
	top: 0;
	bottom: 0;
	left: 0;
	right:-16px;
	
	width: 100%;
	background: none;
	
	z-index: 2001;
}

.overlay>div::-webkit-scrollbar { 
    display: none; 
	
}
.overlay>div>div {

	position: relative;
	display: block;
	margin: 0 auto;
	
	height: 100%;
	
	top: 0;
	bottom: 0;
	left: 0;
	right:0;
	
	width: 75em;
	background: none;
	
	z-index: 2002;
	
}

.overlay div{
	float: none;
}
.overlay-visible{

	display: block;
	/*z-index: 5000;*/
}

.overlay .overlay-close, .overlay-open{
	position: absolute;
	
	margin: auto;
	top:1em;
	right: 1.5em;
	bottom: 1em;
	font-size: 1.2em;
	color: rgba(33,33,33,.5);
	text-align: center;
	text-shadow: none;
}

.overlay .overlay-close:hover, .overlay-open:hover{
	text-shadow: 0 1px 1px #111;
}


.overlay .overlay-close{
	display: block;
	z-index: 9000;
}

.overlay .open-overlay{
	display: none;
}

.stop-overflow{
	overflow: hidden;
}


.overlay .heading {
	position: fixed;
	margin: 0 auto;
	height: 81px;
	
	font-size: 1em;
	
	top:0;
	left:0;
	text-align: center;
	width:100%;
	
	overflow: hidden;
}

.overlay .heading::before, .overlay .heading::after{
	content: "";
	display: none;
}

.overlay .heading + div {
	padding-top: 82px;
}